
[PATHS]

ldr_exe_path = /nfs/cesr/online/instr/CBPM/ops/CBPM_II.ldr

raw_data_dir = /nfs/cesr/online/instr/data/cbpmII/raw
proc_data_dir = /nfs/cesr/online/instr/data/cbpmII/proc
tscan_data_dir = /nfs/cesr/online/instr/data/cbpmII/tscan
phase_data_dir = /nfs/cesr/online/instr/data/cbpmII/phase
param_dir = /nfs/cesr/online/instr/CBPM/config
inst_param_file = $(param_dir)/BPM_INST_params.cfg
det_param_file = $(param_dir)/BPM_DET_params.cfg
bunch_pat_def_file = $(param_dir)/bunch_patterns.cfg 

allocation_file = /nfs/cesr/online/instr/CBPM/allocation/Instrument_allocations



[DEFAULTS]
#---------------------------
# Timing Setup
#  Valid options are:
#    4ns_P_VARIABLE_GAIN
#    4ns_E_VARIABLE_GAIN
#    14ns_VARIABLE_GAIN
#    4ns_P_HIGH_PRECISION
#    4ns_E_HIGH_PRECISION
#    14ns_HIGH_PRECISION
#---------------------------
default_timing_setup = 14ns_HIGH_PRECISION

